### Assumption in mulitilinear Regression
- Linearity: The relationsship between the predictors and the responce is linear
- Independence: observations are independent of each other
- Homoscedasticity: The residuals (Y-Y_hat) exhibit constant varience at all levels of the predictors
- Normal Ditribution of Errors: The residuals of the model sre normally distributed
- No multicollinearity: The independent variables should not to be too higher corelated with each other

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
from statsmodels.graphics.regressionplots import influence_plot
import numpy as np

In [6]:
# Read the data from csv file
cars = pd.read_csv("Cars.csv")
cars.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [19]:
cars = pd.DataFrame(cars, columns=["HP","VOL","SP","WT","MPG"])
cars.head()

   HP  VOL          SP         WT        MPG
0 NaN   89  104.185353  28.762059  53.700681
1 NaN   92  105.461264  30.466833  50.013401
2 NaN   92  105.461264  30.193597  50.013401
3 NaN   92  113.461264  30.632114  45.696322
4 NaN   92  104.461264  29.889149  50.504232

### Description of columns
- MPG : mileage of the car(mile per gallon) (This is Y-column to be predicted
- HP : horse power of the car
- VOL : Volume of the car(size) (X2 columns)
- SP : top speed of the car(Miles per Hour)(X3 columns)
- WT : Weight of the car(Pounds)(X4 columns)

In [17]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   HP      0 non-null      float64
 1   VOL     81 non-null     int64
 2   SP      81 non-null     float64
 3   WT      81 non-null     float64
 4   MPG     81 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 3.3 KB

In [21]:
cars.isna().sum()

HP     81
VOL     0
SP      0
WT      0
MPG     0
dtype: int64

In [ ]:
### Obsrevations
- There are no missing values
- There are 81 observations (81 different cars data)
- The data types of